<%- include('partials/header') %>

<div class="main-content">
	<div class="container">
		<ul>
			<% messages.forEach(message => { %>
			<li>
				<strong><%= message.username %>:</strong> <%= message.message %>
				<em>(<%= message.posting_date.toLocaleString() %>)</em>
			</li>
			<% }) %>
		</ul>
		<a href="/new" class="new-message-button">New Message</a>
	</div>
</div>
<%- include('partials/footer') %>
